body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.pesquisa {
    text-align: center;
    margin: 20px 0;
}

.input-pesquisa {
    width: 90%;
    max-width: 600px;
    padding: 10px;
    font-size: 1rem;
    border: 3px solid rgb(170, 23, 23);
    border-radius: 20px;
    margin-bottom: 20px; 
    position: relative;
    top: 30px;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;  
}

h2{
    color: #C50E2E;
}

.description{
    color: #fff;
}

.view{
    color: #255DBF;
}


.videos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 0 20px;
    justify-items: center; 
}


.card {
    background-color: #8D99AE;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    height: 100%;
    padding: 10px;
}


.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
}


.description, .view {
    margin: 10px;
    font-size: 0.9rem;
    text-align: center; 
}


.validacao {
    display: flex;
    justify-content: center;  
    gap: 10px;  
    padding: 10px 0;
}


.icon {
    width: 30px;
    height: auto;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .input-pesquisa {
        width: 95%;
    }

    .description, .view {
        font-size: 0.8rem;
    }

    .icon {
        width: 25px;
    }

    h1 {
        font-size: 1.4rem; 
    }

    h2 {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1.1rem;
    }

    .view {
        font-size: 1.1rem;
    }
}


@media screen and (min-width: 1024px) {
    .videos-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    }

    h1 {
        font-size: 2.5rem; 
    }

    h2 {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1.2rem;
    }

    .view {
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 1600px) {
    .videos-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .card-img {
        height: 250px; 
    }
}
