





<div class="pesquisa">
    <input type="text" placeholder="Pesquise" class="input-pesquisa">
</div> 

<main>
    <h1>Confira os vídeos em destaque abaixo</h1>
    <section>
        
            <div class="card">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                    <img src="rick.png" alt="rick" class="img-rick">
                </a>
                
            <h2>Rick Astley - Never Gonna Give You Up (Official Music Video)</h2>
            <p class="description">The official video for “Never Gonna Give You Up” by Rick Astley</p>
            <p class="view">Visualizações 1200000000</p>
                <div class="validacao">
                    <img src={{like}} alt="like" class="img-validacao">   
                    <img src={{deslike}} alt="deslike" class="img-validacao">
                    <img src={{estrela}} alt="estrela" class="img-estrela">           
                </div>
            </div>
    
    </section>
</main>