

<div class="pesquisa">
    <input 
        type="text" 
        placeholder="Pesquise" 
        class="input-pesquisa" 
        [(ngModel)]="searchQuery" 
        (input)="onInputChange($event)"
    >
</div>

<main>
    <h1 style="color: #fff;">Confira os vídeos em destaque abaixo</h1>
    <div class="videos-container">
        <section *ngFor="let video of filteredVideos" class="card">
            <a [href]="video.url" target="_blank">
                <img [src]="video.thumbnail" [alt]="video.title" class="card-img">
            </a>
            <h2>{{ video.title }}</h2>
            <p class="description">O vídeo oficial de "{{ video.title }}"</p>
            <p class="view">Visualizações: {{ video.views }}</p>
            <div class="validacao">
                <img src="{{like}}" alt="like" class="icon">   
                <img src="{{deslike}}" alt="deslike" class="icon">
                <img src="{{estrela}}" alt="estrela" class="icon">
            </div>
        </section>
    </div>
</main>

    
        
        
 

        
       




    